.text-search {

  border: none;
  outline: none;
}
input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fca22b;;
}
button {
  margin: 0 20px 0 0;
  padding: 10px;
  width:120px;
  height:50px;
  text-align:center;
  background-color: transparent;
  outline: none;
  border-style: none;
}
#notebook-button {
  color: #ff670f;
}

#note-button {
  color: #ff670f;
}
.notebooks-list ul > i {
  color: red;

}

.notebooks-list ul > i:hover {
  font-size: 30px;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}



.grid-wrapper {
  margin-top:100px;
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;


}

@media screen and (max-width: 780px) {

  .grid-wrapper {
   grid-template-columns: repeat(auto-fill, 300px);

  }
}


@media screen and (max-width: 400px) {

  .grid-wrapper > div{
    width: 50%;
  }
}




